<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
    <div class="copyright">
        <p>We care for <a target="_blank">You</a></p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
