@model Medical.Domain_Layer.Module_3.P1_2.Prescription.PrescriptionEntity

@{
    ViewData["Title"] = "Create Prescription";
}


<!--**********************************
    Content body start
***********************************-->
<div class="content-body default-height">
    <div class="container-fluid">

        <h2>Create Prescription</h2>

        <form asp-action="Create">

            <div style="background-color: white; padding: 20px; border-radius: 5px;">
                <div class="form-group">
                    <label for="MedicationName">Medication Name</label>
                    <input asp-for="MedicationName" class="form-control" id="MedicationName" />
                </div>
                <div class="form-group">
                    <label for="Quantity">Quantity</label>
                    <input asp-for="Quantity" type="number" class="form-control" id="Quantity" />
                </div>
                <div class="form-group">
                    <label for="Unit">Unit</label>
                    <input asp-for="Unit" type="number" class="form-control" id="Unit" />
                </div>
                <div class="form-group">
                    <label for="userId">Your Patients:</label>
                    <select id="userId" name="userId" class="form-control">
                        @for (var i = 0; i < ViewBag.PatientIds.Count; i++)
                        {
                            <option value="@ViewBag.PatientIds[i]">@ViewBag.PatientNames[i]</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        
        </form>

        <div style="margin-top: 10px;">
            <a href="@Url.Action("Index", "Prescription")" class="btn btn-secondary">Back to List</a>
        </div>

    </div>
</div>


<!--**********************************
    Content body end
***********************************-->
@section mediqu_style
{
    <!-- Start Page Level CSS -->
    <!-- End Page Level CSS -->
}

@section mediqu_script
{
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/mediqu/vendor/global/global.min.js"></script>

    <script src="~/mediqu/vendor/chart.js/Chart.bundle.min.js"></script>
    <!-- Apex Chart -->
    <script src="~/mediqu/vendor/apexchart/apexchart.js"></script>
    <script src="~/mediqu/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/mediqu/js/custom.min.js"></script>
    <script src="~/mediqu/js/deznav-init.js"></script>

}