@{
    ViewData["Title"] = "Search Patient";
    ViewData["Heading"] = "Search Patient";

}


<!--**********************************
	Content body start
***********************************-->
<div class="content-body default-height">
    <div class="container-fluid">



        <!--**********************************
            Example of using the template
        ***********************************-->
            <div class="s007">

            <!--Pass the result to PatientListcontroller and display PatientListResult page -->

            <form asp-action="PatientListResult" asp-controller="PatientList" method="get">
                    
                    <div class="inner-form">
                        <div class="basic-search">
                            <div class="input-field">

                                <!--Magnifiying glass icon -->

                                <div class="icon-wrap">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                        <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                                    </svg>
                                </div>

                                <!-- Text field -->

                                <input id="search" type="text" name="NameFilter" placeholder="Search Patient..." />



                               <!-- Current search quantity -->
                                <div class="result-count">
                                    <span id="resultsCount">0</span> results
                                 </div>


                            </div>
                        </div>


                        <div class="advance-search">
                            <span class="desc">Advanced Search</span>
                            <div class="row">


                                <!-- Device filter -->

                                <div class="input-field">
                                    <div class="input-select">
                                    <select data-trigger="" name="DeviceFilter">
                                            <option placeholder="" value="">Device</option>
                                            <option>Blood Pressure</option>
                                            <option>Blood Glucose</option>
                                            <option>Air Pulse Oximeter</option>
                                            <option>Body Composition</option>
                                            <option>All</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Age filter -->

                                <div class="input-field">
                                    <div class="input-select">
                                        <select data-trigger="" name="AgeGroupFilter">
                                            <option placeholder="" value="">Age Group</option>
                                            <option>0-18</option>
                                            <option>19-35</option>
                                            <option>36-60</option>
                                            <option>60+</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Gender filter -->

                                <div class="input-field">
                                    <div class="input-select">
                                        <select data-trigger="" name="GenderFilter">
                                            <option placeholder="" value="">Gender</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <!-- Second row filter -->

                            <div class="row second">


                                <!-- Placeholder for any other field -->



                            </div>

                            <!-- Search Button -->
                            <div class="row third">
                                <div class="input-field">
                                    <button type="submit" class="btn-search">Search</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>


    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
@section mediqu_style
{
    <!-- Start Page Level CSS -->
    <link rel="stylesheet" href="~/mediqu/css/searchforum.css" />
     <!-- End Page Level CSS -->
}


@section mediqu_script
{
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/mediqu/vendor/global/global.min.js"></script>

    <script src="~/mediqu/vendor/chart.js/Chart.bundle.min.js"></script>
    <!-- Apex Chart -->
    <script src="~/mediqu/vendor/apexchart/apexchart.js"></script>
    <script src="~/mediqu/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/mediqu/js/custom.min.js"></script>
    <script src="~/mediqu/js/deznav-init.js"></script>


    <script>
        // to update the result count when searching
        $(document).ready(function () {
            function updateResultsCount() {
                $.ajax({
                    url: '@Url.Action("GetFilteredResultsCount", "PatientList")',
                    type: 'GET',
                    data: {
                        nameFilter: $('#search').val(),
                        deviceFilter: $('select[name="DeviceFilter"]').val(),
                        ageGroupFilter: $('select[name="AgeGroupFilter"]').val(),
                        genderFilter: $('select[name="GenderFilter"]').val(),
                    },
                    success: function (result) {
                        $('#resultsCount').text(result); // Update the results count dynamically
                    }
                });
            }

            // Attach event listeners to form controls
            $('#search, select[name="DeviceFilter"], select[name="AgeGroupFilter"], select[name="GenderFilter"]').on('change', updateResultsCount);

        });
    </script>


}

